<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Квиток</title>
    <style>
  body {
    font-family: 'DejaVu Sans', serif;
  }
</style>


</head>
<body>
<div class="ticket">
    <h2>Залізничний квиток</h2>
    <table>
        <tr><td>Пасажир</td><td th:text="${name}"></td></tr>
        <tr><td>Поїзд</td><td th:text="${trainNumber}"></td></tr>
        <tr><td>Дата</td><td th:text="${date}"></td></tr>
        <tr><td>Час</td><td th:text="${time}"></td></tr>
        <tr><td>Вагон</td><td th:text="${traincar}"></td></tr>
        <tr><td>Місце</td><td th:text="${seat}"></td></tr>
        <tr><td>Станція відправлення</td><td th:text="${from}"></td></tr>
        <tr><td>Станція прибуття</td><td th:text="${to}"></td></tr>
    </table>
</div>
</body>
</html>
